.theme-light {
    --bookmarked-color: rgb(25, 72, 241);
    --deleted-color: rgb(242, 52, 52);
}

.secondary-text {
    color: var(--text-secondary-color);
}

.fonticon {
    color: var(--icon-color);
    transition: color 0.2s;

    &.disabled {
        color: var(--icon-disabled-color);
    }

    &:hover {
        color: var(--icon-hover-color);
    }

    &.bookmarked {
        color: var(--bookmarked-color);
    }
    &.unbookmarked {
        color: var(--deleted-color);
    }
    &.enabled {
        color: var(--icon-enabled-color);
    }
}


.bookmark-list {
    font-weight: bold;

    .word {
        font-size : 0.45em;
    }
    .score {
        color : var(--text-secondary-color);
    }
    .removed {
        text-decoration: line-through;
        font-style: italic;
        color 
    : var(--text-secondary-color);}
    .contents {
        border-radius: 8px;
    }
    .contents:hover {
        background-color : var(--background-accent-color);
    }
}

.choice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;

    .choice {
        display: flex;
        align-items: center;
        margin : 2px 2px;
        padding : 1px 6px;
        width: 100%;

        border-radius: 8px;
        cursor: pointer;
        
        &:hover {
            background-color : var(--background-accent-color);
        }
    }

    &.correct .choice {
        background-color : var(--correct-color);
    }
    &.incorrect .choice {
        background-color : var(--incorrect-color);
    }

}

.sub {
    color: var(--text-secondary-color);
    font-weight: 500;
}

.meaning-container {
    font-size: 0.5em;

    .meaning:hover {
        color : var(--text-meaning-hover-color);
        cursor : pointer;
    }

    .priority {
        color : var(--text-meaning-active-color);
    }

    .another-word {
        font-size: 0.75em;
        font-weight: bold;
        align-self: flex-end;
        color: var(--text-secondary-color);
    }
}