:root {
    font-size : 36px;
}

.theme-light {
    --background-color: rgb(27, 27, 30);
    --border-color: rgb(118, 118, 118);
}

.theme-dark {
    --background-color: rgb(30, 29, 27);
    /*--background-color: rgb(59, 59, 219);*/
    --border-color: rgb(118, 118, 118);
    
    --text-color: white; /* 범용 텍스트 색상 */
    --subtext-color: rgb(180, 180, 172);
    
    background-color: var(--background-color);
    color : var(--text-color);
}
